.addMealBtn {
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: lightgray;
    border: 1px solid black;
    color: black;
}

.popupTime, .popupCalories {
    margin: 1rem auto;
}

.popupTime div, .popupTime input {
    display: inline;
    margin: 0;
    font-family: 'Francois One', sans-serif;
    border-radius:15px; 
    font-size:20px; 
}

.popupCalories div, .popupCalories input {
    display: inline;
    margin:0;
    font-family: 'Francois One', sans-serif; 
    border-radius:15px;
    font-size:20px;
}

.popupCalories input {
    width: 6rem;
}